@keyframes moveing {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.profileCard{
  position:relative;
  display: flex;
  background-color: beige;
  width: 25vh;
  padding: 5vh;

}

.profileImage img{
  position:absolute;
  width: 30%;
}

.profileContent{
  position:absolute;
  left: 10%;
}

/* 친구, 도감, 일지 */
.dashBoard {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 2%;
}

.dashBoardDetail {
  display: flex;
  flex-direction: column;
  gap: 3vw; 
}

.dashBoardDetail img {
  width: 300vw; 
  max-width: 600px;
  cursor: pointer;
  animation: moveing 3s ease-in-out infinite;
  transition: transform 0.2s;
}

.dashBoardDetail img:hover {
  animation: none;
  transform: translateY(-5px) scale(1.02);
}

/* 가이드모드 / 자율모드 */
.startButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw; 
  padding: 2vh 0;
}

.freeMode,
.guildMode {
  flex-shrink: 0;
}

.freeMode img,
.guildMode img {
  width: 25vw;           
  max-width: 900px;      
  animation: moveing 3s ease-in-out infinite;
  transition: transform 0.2s;
  cursor: pointer;
}

.freeMode img:hover,
.guildMode img:hover {
  animation: none;
  transform: translateY(-5px)scale(1.02);
}
